[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pylint = "*"

#python-language-server = "*"
#pyls-mypy = "*"
#pyls-isort = "*"

python-dotenv = "*"
pytest = "*"
pytest-xdist = "*"
pytest-order = "*"

[packages]
3scale-api = "*"
openshift-client = "*"
python-backoff = "*"

[requires]
python_version = "3"
